@font-face {
  font-family: 'MyriadPro';
  src: url('../fonts/MyriadPro/MyriadPro-Regular.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MyriadPro-SemiBold';
  src: url('../fonts/MyriadPro/MyriadPro-SemiBold.otf');
  font-weight: normal;
  font-style: normal;
}
body {
  background: #302E2F;
}
.reveal {
  font-family: MyriadPro, arial, sans-serif;
}
.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
  font-family: MyriadPro, arial, sans-serif;
  font-weight: normal;
  text-transform: unset;
}
.reveal h1 {
  letter-spacing: -0.03em;
}
.reveal h1, .reveal h2 {
  color: #de8427;
}
.reveal .contrast {
  color: #fff;
  text-shadow: 5px 5px 5px #b16a1f;
}
.reveal code {
  background: #3F3F3F;
  padding: .05em .15em;
}

.reveal pre {
  width: 50%;
}
.reveal li pre {
  width: auto;
}
