@font-face {
  font-family: 'MyriadPro';
  src: url('../fonts/MyriadPro/MyriadPro-Regular.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MyriadPro-SemiBold';
  src: url('../fonts/MyriadPro/MyriadPro-SemiBold.otf');
  font-weight: normal;
  font-style: normal;
}
.reveal {
  font-family: MyriadPro, arial, sans-serif;
}
.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
  font-family: MyriadPro, arial, sans-serif;
  font-weight: normal;
  text-transform: unset;
}
.reveal h1 {
  letter-spacing: -0.03em;
}
.reveal li pre {
  width: auto;
}
